form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: cornflowerblue;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
